@import "tailwindcss";

@theme{
    --color-primary: #902923;
    --color-primaryLight: #A22C29;
    --color-secondary: #B9BAA3;
    --color-secondaryLight: #d6d5c9;
    --color-dark: #0a100d;
    --color-light: var(--color-neutral-100);

    --bg: var(--color-dark);
    --bg-light: var(--color-light);
    --textLight: var(--color-neutral-100);
    --textSlated: var(--color-neutral-300);

    --h1: var(--color-primary);
}